<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<button class="editButton btn btn-info" 
	type="button" data-toggle="modal" data-target="#myModal2" value="2">
Edit 
</button>

test checkbox<input type="checkbox" class="select" name="id[]" value="2">