body {
    height: 100%;
    background-image: url('../img/wallpaper.jpg');
    /*background-repeat: no-repeat;*/
    /*background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
}
.card{
    background: white;
    margin-top: 5%;
    padding: 40px;
    text-align: center;
}
.card img{
    max-width: 200px;
    padding-bottom: 20px;
}

#loginButton{
    width: 100%;
}

#error{
    color:red;
    display: none;
}