*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#myPage{
    background-color : #fafafa;
}
.batas{
    float: right;
}
.content-slider{
    float: right;
    margin-top: 5%;
    
}
.content-slider img{
    height: 550px;
    width: 100%;
}

.form {
    text-align: center;
    background-color: white;
    border: solid 1px gainsboro;
    padding: 25px;
    margin-top: 100px;
    margin-left: 50px;
}
.form1 {
    text-align: center;
    background-color: white;
    border: solid 1px gainsboro;
    padding: 25px;
    margin-top: 20px;
    margin-left: 50px;
}

.form input{
    margin-bottom: 20px;
}
.submit{
    background-color: cornflowerblue;
    padding: 5px;
}